.details {
  list-style: none;
  border-bottom: 1px solid black;
  padding-bottom: 3rem;
}

.box {
  border: 1px solid rgb(104, 103, 103);
}

button {
  margin-top: 1rem;
  background: rgb(26, 96, 237);
  color: white;
}